<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @station.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @station.category %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @station.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @station.lng %>
</p>

<%= link_to 'Back', stations_path %>
